<h1>🛒 Catálogo de Productos TechShop</h1>

<div id="products-container" class="grilla-productos">
  {{#each products}}
    <div class="tarjeta-producto" id="prod-{{this._id}}">
      <div class="info-producto">
        <span class="categoria-etiqueta">{{mayusculas this.category}}</span>
        <h3>{{this.title}}</h3>
        <p class="descripcion-corta">{{this.description}}</p>
        <div class="fila-precio-stock">
          <span class="precio">${{this.price}}</span>
          <span class="stock con-stock">Stock: {{this.stock}}</span>
        </div>
        <a href="/products/{{this._id}}" class="btn-details btn-detalle">Ver Detalle</a>
      </div>
    </div>
  {{/each}}
</div>

<div class="paginador">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}" class="btn-pag">⬅️ Anterior</a>
  {{/if}}

  <span class="info-pag">Página {{page}} de {{totalPages}}</span>

  {{#if hasNextPage}}
    <a href="{{nextLink}}" class="btn-pag">Siguiente ➡️</a>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>