<h1>🛒 Contenido de tu Carrito</h1>
<p style="color: gray;">ID del Carrito: {{cartId}}</p>

<div style="margin-top: 20px; border: 1px solid #aaa; padding: 20px; border-radius: 8px;">
  {{#if products.length}}
    <table style="width: 100%; text-align: left; border-collapse: collapse;">
      <thead>
        <tr style="border-bottom: 2px solid #000;">
          <th>Producto</th>
          <th>Categoría</th>
          <th>Precio Unitario</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr style="border-bottom: 1px solid #ddd; height: 40px;">
            <td><strong>{{this.product.title}}</strong></td>
            <td>{{this.product.category}}</td>
            <td>${{this.product.price}}</td>
            <td>{{this.quantity}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h3>El carrito está vacío 😔</h3>
  {{/if}}
</div>
<br />
<a href="/products">🛒 Seguir comprando</a>